<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SearchNow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WikiSearchNow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SearchNow.Properties.Settings>
            <setting name="default_engine" serializeAs="String">
                <value>Google</value>
            </setting>
            <setting name="default_definitions_file" serializeAs="String">
                <value>engines.xml</value>
            </setting>
        </SearchNow.Properties.Settings>
        <WikiSearchNow.Properties.Settings>
            <setting name="default_engine" serializeAs="String">
                <value>Google</value>
            </setting>
        </WikiSearchNow.Properties.Settings>
    </userSettings>
</configuration>